body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0527;
}

.container {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.profile {
    margin-bottom: 0px;
    border: 4px solid black;
    border-radius: 50px;
}

.profile a {
    font-size: larger;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.profile a, .profile p {
    margin: 5px 0;
}

h1 {
    margin: 0 0 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tr.completed td {
    text-decoration: line-through;
    color: #888;
}

.btn1, .btn2, .btn3 {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.btn1 {
    background-color: #007bff;
    color: white;
}

.btn1:hover {
    background-color: #0056b3;
}

.btn2 {
    background-color: #ffc107;
    color: white;
}

.btn2:hover {
    background-color: #e0a800;
}

.btn3 {
    background-color: #dc3545;
    color: white;
}

.btn3:hover {
    background-color: #c82333;
}

.stats {
    margin-top: 20px;
}

.stats p {
    margin: 10px 0;
}

.stats button {
    padding: 10px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stats button:hover {
    background-color: #138496;
}